<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <style>
            p{
                color: black;
            }
        </style>
</head>
<body>
	<main>
		x	<div style="max-width: 1200px;" class="m-auto pt-5 pb-5">
			<p class="text-center" style="font-size: 23px; font-weight: bold;  color: black;">ĐẶT
				HÀNG THÀNH CÔNG</p>
			<div class="m-auto mb-5"
				style="width: 30%; height: 4px; background-color: black;"></div>
			<p style="font-size: 20px; font-weight: 500;  color: black;">THÔNG TIN ĐƠN HÀNG:</p>
			<div
				style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;"
				class="p-3">
				<p style="font-weight: 500; color: black;">Mã đơn hàng: [[${order.id}]]</p>
				<p style="font-weight: 500;  color: black;">Ngày đặt: [[${order.date}]]</p>
				<p style="font-weight: 500;  color: black;">Địa chỉ: [[${order.ward}]],
					[[${order.district}]], [[${order.province}]]</p>
				<p style="font-weight: 500;  color: black;">
					Hình thức thanh toán: <span style=" color: black;" th:if="${order.payment == 1}">Thanh
						toán bằng tiền mặt</span> <span style=" color: black;" th:if="${order.payment == 2}">Thanh
						toán bằng ngân hàng</span>
				</p>
				<p style="color: red; font-weight: 500;">Tổng tiền đơn hàng:
					[[${#numbers.formatDecimal(order.total, 0, 'COMMA', 0, 'POINT')}]]đ</p>
				<p style="font-weight: 500 ;  color: black;">Sản phẩm:</p>
				<th:block th:each="orderDetail : ${orderDetail} ">
					<div class="row p-3">
						<div class="col-sm-2">
							<img th:src="@{|image/${orderDetail.img}|}" style="width: 100px;"
								alt="">
						</div>
						<div class="col-sm-8">
							<p style="font-weight: 500;  color: black;">[[${orderDetail.productName}]]</p>
							<p style="font-weight: 500;  color: black;">Số lượng: [[${orderDetail.qty}]]</p>
						</div>
						<div class="col-sm-2">
							<p style="color: red; font-weight: 500;">[[${#numbers.formatDecimal(orderDetail.price,
								0, 'COMMA', 0, 'POINT')}]]đ</p>
						</div>
					</div>
					<hr>
				</th:block>
				<a href="/user-order"
					style="font-weight: 500; background-color: rgb(205, 192, 50);"
					type="button" class="btn  px-4 py-2 text-center">Xem lịch sử
					đặt hàng</a>
			</div>
		</div>
	</main>
</body>
</html>