<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Tất cả sản phẩm</title>
<style>
.col-sm-2 .text-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.pagination1 {
    display: flex !important;
    justify-content: center !important;
    margin-top: 20px !important;
    font-family: Arial, sans-serif !important;
}

</style>
</head>
<body>
	<main class="main">
		<div class="page-header text-center"
			style="background-image: url('assets/images/page-header-bg.jpg')">

		</div>
		<!-- End .page-header -->
		<nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
			<div class="container">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Shop</a></li>
					<li class="breadcrumb-item active" aria-current="page"></li>
				</ol>
			</div>
			<!-- End .container -->
		</nav>
		<!-- End .breadcrumb-nav -->
		<div class="container">
			<div style="background-color: #f2f3f4;">
				<div style="background-color: #fff; border: 1px solid #fff;">
					<div style="max-width: 1300px;" class="m-auto mt-2 mb-2">
						<div>
							<span class="text-center"
								style="font-size: 18px; font-weight: bold;">DANH MỤC SẢN
								PHẨM</span>
							<div class=""
								style="width: 203px; height: 2px; background-color: black;"></div>
						</div>
					</div>
					<div style="max-width: 1200px; background-color: #fff;"
						class="m-auto p-3">
						<div style="max-width: 1200px; background-color: #fff;"
							class="m-auto p-3">
							<div class="row m-0">
							  <th:block th:each="category : ${category}">
		                            <div class="col-sm-2 text-center">
		                                    <a style="text-decoration: none;"
		                                        th:href="@{|/shop-category?idCategory=${category.id}|}">
		                                        <img th:src="@{'image/'+${category.img}}" style="width: 70px;display: inline-block; " alt="">
		                                        <h6>[[${category.name}]]</h6></a>
		             
		                            </div>
                     		</th:block>  
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-content">
			<div class="container">
				<div class="row">

					<div class="col-lg-12">
						<div class="toolbox">
							<div class="toolbox-left">
								<div class="toolbox-info">
									Đang hiển thị <span>9 trên 56</span> sản phẩm
								</div>
								<!-- End .toolbox-info -->
							</div>
							<!-- End .toolbox-left -->

							<div class="toolbox-right">
								<div class="toolbox-sort">
									<label for="sortby">Lọc:</label>
									<div class="select-custom">
										<form id="myForm" th:action="@{/shop}" method="get">
											<select onchange="document.getElementById('myForm').submit();" name="sortby" id="sortby" class="form-control" >
												<option th:selected="${s == 'asc'}" th:attr="value='asc'">GIá thấp đến cao</option>
        										<option th:selected="${s == 'desc'}" th:attr="value='desc'">Giá cao đến thấp</option>
											</select>
											<!--<p>[[${s}]]</p> -->
										</form>
									</div>
								</div>
								<!-- End .toolbox-sort -->

							</div>
							<!-- End .toolbox-right -->
						</div>
						<!-- End .toolbox -->

						<div class="products mb-3">
							<div class="row ">
								<th:block th:each="product : ${product.content}">

									<div class="col-6 col-md-4 col-lg-4 col-xl-3">
										<div class="product product-7 text-center">
											<figure class="product-media">
												<span class="product-label label-new">New</span>
												<a th:href="@{|/shop-details?idProduct=${product.id}|}">
													<img th:src="@{'/image/'+${product.img}}"
													alt="Product image" class="product-image" />
												</a>

												<div class="product-action-vertical">
													<a href="#"
														class="btn-product-icon btn-wishlist btn-expandable"><span>add
															to wishlist</span></a> <a href="popup/quickView.html"
														class="btn-product-icon btn-quickview" title="Quick view"><span>Quick
															view</span></a> <a href="#" class="btn-product-icon btn-compare"
														title="Compare"><span>Compare</span></a>
												</div>
												<!-- End .product-action-vertical -->

												<div class="product-action">

													 <a  th:attr="ng-click=@{|cart.add('${product.id}')|}" class="btn-product btn-cart"><span>add to cart</span></a>

												</div>
												<!-- End .product-action -->
											</figure>
											<!-- End .product-media -->

											<div class="product-body">
												<div class="product-cat">
													<a href="#">Shoes</a>
												</div>
												<!-- End .product-cat -->
												<h3 class="product-title">
													<a href="product.html">[[${product.name}]] </a>
												</h3>
												<!-- End .product-title -->
												<div class="product-price">
													[[${#numbers.formatDecimal(product.price, 0, 'COMMA', 0,
													'POINT')}]]</div>
												<!-- End .product-price -->
											</div>
											<!-- End .product-body -->
										</div>
										<!-- End .product -->
									</div>
									<!-- End .col-sm-6 col-lg-4 col-xl-3 -->
								</th:block>
							</div>
							<!-- End .row -->
						</div>
						<!-- End .products -->


						
						
							
								<nav aria-label="Page navigation" class="m-auto">
									<ul class="pagination justify-content-center" id="pagination"></ul>
								</nav>
						
							
							<form id="sumitForm" action="/shop" method="get">
								<input id="page" name="p" type="hidden">
							</form>
							
						
					</div>
					<!-- End .col-lg-9 -->

					
					<!-- End .col-lg-3 -->
				</div>
				<!-- End .row -->
			</div>
			<!-- End .container -->
		</div>
		<!-- End .page-content -->
	</main>
	<!-- End .main -->
=======
                            <div class="products mb-3">
                                <div class="row ">
								<th:block th:each="product : ${product}">
					
                                    <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                        <div class="product product-7 text-center">
                                            <figure class="product-media">
                                                <span class="product-label label-new">New</span>
                                                <a th:href="@{|/shop-details?idProduct=${product.id}|}">
                                                    <img th:src="@{'/image/'+${product.img}}" alt="Product image" class="product-image"/>
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                                </div><!-- End .product-action-vertical -->

                                                <div class="product-action">
                                                    <a  th:attr="ng-click=@{|cart.add('${product.id}')|}" class="btn-product btn-cart"><span>add to cart</span></a>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#">Shoes</a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="product.html">[[${product.name}]] </a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                   [[${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}]]
                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
							    </th:block>
                                </div><!-- End .row -->
                            </div><!-- End .products -->

                			 
                		</div><!-- End .col-lg-9 -->
                		
                		<aside class="col-lg-3 order-lg-first">
                			<div class="sidebar sidebar-shop">
                				<div class="widget widget-clean">
                					<label>Filters:</label>
                					<a href="#" class="sidebar-filter-clear">Clean All</a>
                				</div><!-- End .widget widget-clean -->

                				<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
									        Category
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-1">
										<div class="widget-body">
											<div class="filter-items filter-items-count">
												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-1">
														<label class="custom-control-label" for="cat-1">Dresses</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">3</span>
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-2">
														<label class="custom-control-label" for="cat-2">T-shirts</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">0</span>
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-3">
														<label class="custom-control-label" for="cat-3">Bags</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">4</span>
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-4">
														<label class="custom-control-label" for="cat-4">Jackets</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">2</span>
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-5">
														<label class="custom-control-label" for="cat-5">Shoes</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">2</span>
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-6">
														<label class="custom-control-label" for="cat-6">Jumpers</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">1</span>
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-7">
														<label class="custom-control-label" for="cat-7">Jeans</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">1</span>
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="cat-8">
														<label class="custom-control-label" for="cat-8">Sportwear</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">0</span>
												</div><!-- End .filter-item -->
											</div><!-- End .filter-items -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->

        						<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-2" role="button" aria-expanded="true" aria-controls="widget-2">
									        Size
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-2">
										<div class="widget-body">
											<div class="filter-items">
												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="size-1">
														<label class="custom-control-label" for="size-1">XS</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="size-2">
														<label class="custom-control-label" for="size-2">S</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" checked id="size-3">
														<label class="custom-control-label" for="size-3">M</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" checked id="size-4">
														<label class="custom-control-label" for="size-4">L</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="size-5">
														<label class="custom-control-label" for="size-5">XL</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="size-6">
														<label class="custom-control-label" for="size-6">XXL</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->
											</div><!-- End .filter-items -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->

        						<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-3" role="button" aria-expanded="true" aria-controls="widget-3">
									        Colour
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-3">
										<div class="widget-body">
											<div class="filter-colors">
												<a href="#" style="background: #b87145;"><span class="sr-only">Color Name</span></a>
												<a href="#" style="background: #f0c04a;"><span class="sr-only">Color Name</span></a>
												<a href="#" style="background: #333333;"><span class="sr-only">Color Name</span></a>
												<a href="#" class="selected" style="background: #cc3333;"><span class="sr-only">Color Name</span></a>
												<a href="#" style="background: #3399cc;"><span class="sr-only">Color Name</span></a>
												<a href="#" style="background: #669933;"><span class="sr-only">Color Name</span></a>
												<a href="#" style="background: #f2719c;"><span class="sr-only">Color Name</span></a>
												<a href="#" style="background: #ebebeb;"><span class="sr-only">Color Name</span></a>
											</div><!-- End .filter-colors -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->

        						<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4">
									        Brand
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-4">
										<div class="widget-body">
											<div class="filter-items">
												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-1">
														<label class="custom-control-label" for="brand-1">Next</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-2">
														<label class="custom-control-label" for="brand-2">River Island</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-3">
														<label class="custom-control-label" for="brand-3">Geox</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-4">
														<label class="custom-control-label" for="brand-4">New Balance</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-5">
														<label class="custom-control-label" for="brand-5">UGG</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox"ch class="custom-control-input" id="brand-6">
														<label class="custom-control-label" for="brand-6">F&F</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input" id="brand-7">
														<label class="custom-control-label" for="brand-7">Nike</label>
													</div><!-- End .custom-checkbox -->
												</div><!-- End .filter-item -->

											</div><!-- End .filter-items -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->
        						<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
									        Price
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-5">
										<div class="widget-body">
                                            <div class="filter-price">
                                                <div class="filter-price-text">
                                                    Price Range:
                                                    <span id="filter-price-range"></span>
                                                </div><!-- End .filter-price-text -->

                                                <div id="price-slider"></div><!-- End #price-slider -->
                                            </div><!-- End .filter-price -->
										</div><!-- End .widget-body -->
									</div><!-- End .collapse -->
        						</div><!-- End .widget -->
                			</div><!-- End .sidebar sidebar-shop -->
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
		<input type="text" id="totalPages" th:value="${product.totalPages}">
</body>
</html>
<script th:inline="javascript">

	$(function () {
	    window.pagObj = $('#pagination').twbsPagination({
	        totalPages: /*[[${product.totalPages}]]*/,
	        visiblePages: 5,
	        startPage: /*[[${product.number+1}]]*/,
	        onPageClick: function (event, page) {
	            console.info(page)
	            
	            if(page!=/*[[${product.number+1}]]*/){
	            	$('#page').val(parseInt(page-1));
	            	$('#sumitForm').submit();
	            }
	        }
	    }).on('page', function (event, page) {
	        console.info(page + ' (from event listening)');
	    });
	});
</script>