<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Tất cả sản phẩm</title>
<style>
.col-sm-2 .text-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
</style>
</head>
<body>
	<main class="main">
		
		<!-- End .page-header -->
		<nav aria-label="breadcrumb" class="breadcrumb-nav">
			<div class="container">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">UserInfo</li>
				</ol>
			</div>
			<!-- End .container -->
		</nav>
		<!-- End .breadcrumb-nav -->

		<div class="m-auto mt-5 mb-5 "
			style="max-width: 1200px; border-radius: 20px; padding: 20px; box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;">
			<div class="row">
				<div class="col-sm-3">
					<ul class="list-group">
						<a style="text-decoration: none;" href="/userinfo">
							<li style="font-weight: 500;"
							class="list-group-item d-flex justify-content-between align-items-center">
								Thông tin cá nhân</li>
						</a>
						<a style="text-decoration: none;" href="">
							<li
							style="background-color: aquamarine; background-color: rgb(242, 223, 16); font-weight: 500;"
							class="list-group-item d-flex justify-content-between align-items-center">
								Đơn hàng</li>
						</a>
						<a style="text-decoration: none;" href="">
							<li style="font-weight: 500;"
							class="list-group-item d-flex justify-content-between align-items-center">
								Địa chỉ</li>
						</a>
					</ul>
				</div>
				<div class="col-sm-9">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Mã đơn hàng</th>
								<th scope="col">Thời gian mua</th>
								<th scope="col">Tổng tiền</th>
								<th scope="col">Trạng thái</th>
								<th scope="col">Hình thức thanh toán</th>
								<th scope="col">Chi tiết</th>
							</tr>
						</thead>
						<tbody>

							<tr th:each="orderUser : ${orderUser}">

								<td>[[${orderUser.id}]]</td>
								<td>[[${orderUser.date}]]</td>
								<td>[[${#numbers.formatDecimal(orderUser.total, 0, 'COMMA',
									0, 'POINT')}]]
								</td>
								<td th:if="${orderUser.status eq 'X'}"><span style="color: blue; font-style: italic; font-weight: bold;">Đang xử lí</span></td>
								<td th:if="${orderUser.status eq 'H'}"><span style="color: red; font-style: italic; font-weight: bold;">Đã hủy</span></td>
								<td th:if="${orderUser.status eq 'N'}"><span style="color: green; font-style: italic; font-weight: bold;">Đã nhận hàng</span></td>
								<td th:if="${orderUser.payment eq 1}"><span style=" font-style: italic; font-weight: bold;">Tiền mặt</span></td>
								<td th:if="${orderUser.payment eq 2}"><span style=" font-style: italic; font-weight: bold;">Chuyển khoản</span></td>
								<td><a th:href="@{|/userOrderDetail?idOrder=${orderUser.id}|}" class="btn btn-primary">Chi tiết</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<h6 class="mt-3"></h6>
		</div>
	</main>
	<!-- End .main -->
</body>
</html>